.jumbotron {
    background-color: #ab6ada;
}

.jumbotron h1 {
    color: white;
    cursor: default;
    animation-name: bounceInDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    -webkit-animation-name: bounceInDown;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
}

@keyframes bounceInDown {
    from {
        opacity: 0;
        transform: translateY(-255px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes bounceInDown {
    from {
        opacity: 0;
        -webkit-transform: translateY(-255px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

.population {
    margin-top: 3em;
}

.queryList {
    list-style: none;
}

.listPadding {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #ab6ada;
    animation-name: bounceInLeft;
    animation-duration: 1s;
    -webkit-animation-name: bounceInLeft;
    -webkit-animation-duration: 1s;
}

@keyframes bounceInLeft {
    from {
        opacity: 0;
        transform: translateX(-1440px);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@-webkit-keyframes bounceInLeft {
    from {
        opacity: 0;
        transform: translateX(-1440px);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.bounceOut {
    animation-name: bounceOutLeft;
    animation-duration: 1s;
    -webkit-animation-name: bounceOutLeft;
    -webkit-animation-duration: 1s;
}

@keyframes bounceOutLeft {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(-2000px);
    }
}

@-webkit-keyframes bounceOutLeft {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(-2000px);
    }
}

#search {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 0;
    -webkit-transition-property: border-color;
    -webkit-transition-duration: 2s;
    transition-property: border-color;
    transition-duration: 2s;
}

#search:hover {
    border-color: #ab6ada;
}

.wikiSearch > .glyphicon-search {
    opacity: 0;
}